<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title th:text="${model.title}"></title>
</head>
<body class="text-bg-dark">
<header>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a href="/" class="navbar-brand fs-2 text-white">Review Spot</a>
            <div class="d-flex align-items-center ms-auto">
                <div th:if="${model.clientId != -1}" class="d-flex align-items-center">
                    <form th:method="post" th:action="@{/auth/logout}">
                        <input class="nav-link text-white me-5" type="submit" value="Logout">
                    </form>
                    <img th:src="${model.clientPhotoUrl}" alt="clientPhoto" width="48" height="48" class="rounded-circle me-3">
                    <a class="nav-link text-white me-3" th:text="${model.clientName}" th:href="@{/client/{id}(id=${model.clientId})}">Link</a>
                </div>
                <div th:if="${model.clientId == -1}">
                    <a class="nav-link text-white" th:href="@{/auth/login}">Login</a>
                </div>
            </div>
        </div>
    </nav>
</header>

<section class="mt-5">
    <div class="container text-center position-absolute top-50 start-50 translate-middle">

        <div th:if="${error}" class="alert alert-danger w-50 mx-auto" role="alert" th:text="${error}"></div>
        <th:block th:switch="${entity}">
            <div th:case="'client'">
                <form th:action="@{/admin/create/client}" th:object="${form}" method="post">
                    <h2>Client create page</h2>
                    <div class="input-group mb-3 w-50 mx-auto">
                        <span class="input-group-text">Имя</span>
                        <input type="text" name="name" class="form-control" th:field="*{name}" placeholder="Введите имя" required>
                    </div>
                    <div class="input-group mb-3 w-50 mx-auto">
                        <span class="input-group-text">Логин</span>
                        <input type="email" name="email" class="form-control" th:field="*{email}" placeholder="Введите email" required>
                    </div>
                    <div class="input-group mb-3 w-50 mx-auto">
                        <span class="input-group-text">Пароль</span>
                        <input type="password" name="password" class="form-control" th:field="*{password}" placeholder="Введите пароль" required>
                    </div>
                    <div class="input-group mb-3 w-50 mx-auto">
                        <span class="input-group-text">URL Фото</span>
                        <input type="text" name="photoUrl" class="form-control" th:field="*{photoUrl}" placeholder="Введите URL фото">
                    </div>
                    <button type="submit" class="btn btn-primary mb-3 w-50">Создать клиента</button>
                </form>
            </div>

            <div th:case="'genre'">
                <form th:action="@{/admin/create/genre}" th:object="${form}" method="post">
                    <h2>Genre create page</h2>
                    <div class="input-group mb-3 w-50 mx-auto">
                        <span class="input-group-text">Название жанра</span>
                        <input type="text" name="name" class="form-control" th:field="*{name}" placeholder="Введите название жанра" required>
                    </div>
                    <button type="submit" class="btn btn-primary mb-3 w-50">Создать жанр</button>
                </form>
            </div>

            <div th:case="'media'">
                <form th:action="@{/admin/create/media}" th:object="${form}" method="post">
                    <h2>Media create page</h2>
                    <div class="input-group mb-3 w-50 mx-auto">
                        <span class="input-group-text">Название</span>
                        <input type="text" name="name" class="form-control" th:field="*{name}" placeholder="Введите название медиа" required>
                    </div>
                    <div class="input-group mb-3 w-50 mx-auto">
                        <span class="input-group-text">URL Фото</span>
                        <input type="text" name="photoUrl" class="form-control" th:field="*{photoUrl}" placeholder="Введите URL фото">
                    </div>
                    <div class="input-group mb-3 w-50 mx-auto">
                        <span class="input-group-text">Описание</span>
                        <textarea name="description" class="form-control" th:field="*{description}" placeholder="Введите описание" rows="3" required></textarea>
                    </div>
                    <div class="input-group mb-3 w-50 mx-auto">
                        <span class="input-group-text">Жанры</span>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4" th:each="genre : ${genres}">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox"
                                               th:field="*{genres}"
                                               th:value="${genre}"
                                               th:id="${'check-' + genre}">
                                        <label class="form-check-label"
                                               th:for="${'check-' + genre}"
                                               th:text="${genre}">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <button type="submit" class="btn btn-primary mb-3 w-50">Создать медиа</button>
                </form>
            </div>

            <div th:case="*">
                <p>Выберите сущность для создания.</p>
            </div>
        </th:block>
    </div>
</section>

<script src="/js/bootstrap.min.js"></script>
</body>
</html>