<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <meta charset="UTF-8">
  <title th:text="${model.currentClient.title}"></title>
</head>
<body class="text-bg-dark">
<header>
  <nav class="navbar bg-body-dark">
    <a href="/" class="navbar-brand fs-2 text-white h1 mx-2">Review Spot</a>
    <ul class="nav justify-content-end ">
      <li class="nav-item">
        <img th:src="${model.currentClient.clientPhotoUrl}" alt="clientPhoto" width="48" height="48" class="rounded-circle">
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" th:text="${model.currentClient.clientName}" th:href="@{/client/{id}(id=${model.currentClient.clientId})}">Link</a>
      </li>
    </ul>
  </nav>
</header>

<section class="mt-5">
  <div class="container">
    <div class="row">

      <div class="col-2">
        <div class="ratio ratio-1x1">
          <img th:src="${model.clientCard.clientPhotoUrl}" alt="Image" class="img-fluid object-fit-cover">
        </div>
      </div>


      <div class="col-8">
        <p class="h1" th:text="${model.clientCard.clientName}">Name</p>
        <p class="mb-3" th:text="'Количество отзывов: ' + ${model.clientCard.reviewCount}"></p>
        <p class="mb-3" th:text="'Количество комментариев: ' + ${model.clientCard.commentCount}"></p>
      </div>

    </div>
  </div>

</section>

<section class="mt-5" th:if="${not #lists.isEmpty(model.lastReviews)}">
  <div class="container">
    <div class="row justify-content-center mt-3">
      <div class="col-6">
        <h4 class="text-center">Отзывы пользователя</h4>

        <div class="card mx-auto mt-3" th:each="review : ${model.lastReviews}" style="width: 18rem;">
          <div class="row">
            <div class="col-12 text-center">
              <a th:href="@{/media/{id}(id=${review.mediaId})}">
                <img th:src="${review.mediaPhotoUrl}" class="card-img-top mx-auto d-block" style="width: 100px;" alt="Media Photo">
              </a>
              <a class="mt-2 h5" th:text="${review.rating}" th:href="@{/review/{id}(id=${review.reviewId})}"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <form th:action="@{/client/{id}(id=${model.clientCard.clientId})}" method="get" th:object="${commentForm}">
    <input type="hidden" name="commentPage" th:value="${commentForm.commentPage}" />
    <input type="hidden" name="commentSize" th:value="${commentForm.commentSize}" />

    <nav aria-label="Reviews pagination" th:if="${not #lists.isEmpty(model.lastReviews)}" class="mt-3">
      <ul class="pagination pagination-sm justify-content-center">
        <li class="page-item" th:classappend="${reviewForm.reviewPage == 1} ? 'disabled'">
          <button type="submit" class="page-link" name="reviewPage" th:value="${reviewForm.reviewPage - 1}">
            Previous
          </button>
        </li>

        <li class="page-item"
            th:each="pageNumber : ${#numbers.sequence(1, model.reviewTotalPages)}"
            th:classappend="${pageNumber == reviewForm.reviewPage} ? 'active'">
          <button type="submit" class="page-link" name="reviewPage" th:value="${pageNumber}" th:text="${pageNumber}">
            1
          </button>
        </li>

        <li class="page-item" th:classappend="${reviewForm.reviewPage == model.reviewTotalPages} ? 'disabled'">
          <button type="submit" class="page-link" name="reviewPage" th:value="${reviewForm.reviewPage + 1}">
            Next
          </button>
        </li>
      </ul>
    </nav>
  </form>

</section>

<section class="mt-5" th:if="${not #lists.isEmpty(model.lastComments)}">
  <div class="container">
    <div class="row justify-content-center mt-3">
      <div class="col-12">
        <h4 class="text-center">Последние комментарии</h4>

        <div th:if="${error}" class="alert alert-danger w-25 mx-auto">
          <p th:text="${error}"></p>
        </div>

        <div class="row justify-content-center">
          <div class="col-8 mb-4" th:each="comment : ${model.lastComments}">
            <div class="card h-100">
              <div class="card-body">
                <div class="d-flex justify-content-between mb-3">
                  <div>
                    <a th:href="@{/client/{id}(id=${comment.clientId})}">
                      <img th:src="${comment.clientPhotoUrl}" class="me-3" width="50" height="50" alt="Client Photo">
                    </a>
                    <div>
                      <h5 class="card-title mb-0" th:text="${comment.clientName}"></h5>
                      <div class="d-flex align-items-center">
                      </div>
                    </div>
                  </div>
                  <form action="/comment/delete" method="post" class="ms-auto" th:if="${comment.clientId == model.currentClient.clientId}">
                    <input type="hidden" name="commentId" th:value="${comment.commentId}">
                    <input type="hidden" name="currentUrl" th:value="'/client/' + ${comment.clientId}">
                    <button type="submit" class="btn btn-outline-danger">Удалить</button>
                  </form>
                </div>
                <p class="card-text" th:text="${comment.text}"></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <a th:href="@{/media/{id}(id=${comment.mediaId})}" th:text="${comment.mediaName}"></a>
                  </div>
                  <div>
                    <span th:text="${#temporals.format(comment.dateTime, 'yyyy-MM-dd')}"></span>
                  </div>
                  <div>
                    <span th:text="'Лайков: ' + ${comment.likeCount}"></span>
                    <span th:text="'Дизлайков: ' + ${comment.dislikeCount}"></span>
                  </div>
                </div>

                <div class="d-flex justify-content-between mt-3">
                  <div th:if="${comment.isLike}">
                    <form action="/reaction/delete" method="post">
                      <input type="hidden" name="clientId" th:value="${model.currentClient.clientId}">
                      <input type="hidden" name="targetId" th:value="${comment.commentId}">
                      <input type="hidden" name="targetType" value="COMMENT">
                      <input type="hidden" name="like" value="true">
                      <input type="hidden" name="currentUrl" th:value="'/client/' + ${model.clientCard.clientId}">
                      <button type="submit" class="btn btn-primary active" aria-pressed="true">Unlike</button>
                    </form>
                  </div>

                  <div th:if="${not comment.isLike}">
                    <form action="/reaction" method="post">
                      <input type="hidden" name="clientId" th:value="${model.currentClient.clientId}">
                      <input type="hidden" name="targetId" th:value="${comment.commentId}">
                      <input type="hidden" name="targetType" value="COMMENT">
                      <input type="hidden" name="like" value="true">
                      <input type="hidden" name="currentUrl" th:value="'/client/' + ${model.clientCard.clientId}">
                      <button type="submit" class="btn btn-primary">Like</button>
                    </form>
                  </div>

                  <div th:if="${comment.isDislike}">
                    <form action="/reaction/delete" method="post">
                      <input type="hidden" name="clientId" th:value="${model.currentClient.clientId}">
                      <input type="hidden" name="targetId" th:value="${comment.commentId}">
                      <input type="hidden" name="targetType" value="COMMENT">
                      <input type="hidden" name="like" value="false">
                      <input type="hidden" name="currentUrl" th:value="'/client/' + ${model.clientCard.clientId}">
                      <button type="submit" class="btn btn-primary active" aria-pressed="true">Remove Dislike</button>
                    </form>
                  </div>

                  <div th:if="${not comment.isDislike}">
                    <form action="/reaction" method="post">
                      <input type="hidden" name="clientId" th:value="${model.currentClient.clientId}">
                      <input type="hidden" name="targetId" th:value="${comment.commentId}">
                      <input type="hidden" name="targetType" value="COMMENT">
                      <input type="hidden" name="like" value="false">
                      <input type="hidden" name="currentUrl" th:value="'/client/' + ${model.clientCard.clientId}">
                      <button type="submit" class="btn btn-primary">Dislike</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <form th:action="@{/client/{id}(id=${model.clientCard.clientId})}" method="get" th:object="${reviewForm}">
    <input type="hidden" name="reviewPage" th:value="${reviewForm.reviewPage}" />
    <input type="hidden" name="reviewSize" th:value="${reviewForm.reviewSize}" />

    <nav aria-label="Comments pagination" th:if="${not #lists.isEmpty(model.lastComments)}" class="mt-3">
      <ul class="pagination pagination-sm justify-content-center">
        <li class="page-item" th:classappend="${commentForm.commentPage == 1} ? 'disabled'">
          <button type="submit" class="page-link" name="commentPage" th:value="${commentForm.commentPage - 1}">
            Previous
          </button>
        </li>

        <li class="page-item"
            th:each="pageNumber : ${#numbers.sequence(1, model.commentTotalPages)}"
            th:classappend="${pageNumber == commentForm.commentPage} ? 'active'">
          <button type="submit" class="page-link" name="commentPage" th:value="${pageNumber}" th:text="${pageNumber}">
            1
          </button>
        </li>

        <li class="page-item" th:classappend="${commentForm.commentPage == model.commentTotalPages} ? 'disabled'">
          <button type="submit" class="page-link" name="commentPage" th:value="${commentForm.commentPage + 1}">
            Next
          </button>
        </li>
      </ul>
    </nav>
  </form>
</section>




</body>
</html>