<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title th:text="${model.currentClient.title}"></title>
</head>
<body class="text-bg-dark">

<header>
    <nav class="navbar bg-body-dark">
        <a href="/" class="navbar-brand fs-2 text-white h1 mx-2">Review Spot</a>
        <ul class="nav justify-content-end ">
            <li class="nav-item">
                <img th:src="${model.currentClient.clientPhotoUrl}" alt="clientPhoto" width="48" height="48" class="rounded-circle">
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" th:text="${model.currentClient.clientName}" th:href="@{/client/{id}(id=${model.currentClient.clientId})}">Link</a>
            </li>
        </ul>
    </nav>
</header>

<section>
    <div class="container mt-5">
        <div class="row mt-3">
            <div class="col-12">
                <form class="d-flex justify-content-center" role="search" action="/search" method="GET">
                    <input class="form-control me-2 w-25" type="search" name="searchQuery" placeholder="Поиск фильма" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Поиск</button>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="mt-5">
    <div class="container">

        <div class="row align-items-start">
            <div class="col-6 d-flex align-items-center">
                <div class="w-100">
                    <h4 class="text-center">Популярные фильмы за неделю</h4>

                    <div class="col-12 card w-75 mx-auto mt-3" th:each="media : ${model.lastMedia}">
                        <div class="row">
                            <div class="col-6">
                                <h5 class="card-title" th:text="${media.mediaName}"></h5>
                                <a th:href="@{/media/{id}(id=${media.mediaId})}">
                                    <img th:src="${media.mediaPhotoUrl}" class="card-img-top w-50" alt="Media Photo">
                                </a>
                                <p class="card-text" th:text="${media.rating}"></p>
                            </div>
                            <div class="col-6 d-flex align-items-center">
                                <p class="card-text" th:text="${media.description}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6 d-flex align-items-center">
                <div class="w-100">
                    <h4 class="text-center">Активные пользователи</h4>

                    <div class="col-12 card w-75 mx-auto mt-3" th:each="client : ${model.mostActiveClient}">
                        <div class="row">
                            <div class="col-6">
                                <a th:href="@{/client/{id}(id=${client.clientId})}">
                                    <div class="ratio ratio-1x1 w-50">
                                        <img th:src="${client.clientPhotoUrl}" class="card-img-top" alt="Client Photo">
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 d-flex align-items-center">
                                <p class="card-text" th:text="${client.clientName}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


</body>
</html>