<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title th:text="${model.currentClient.title}"></title>
</head>
<body class="text-bg-dark">
<header>
    <nav class="navbar bg-body-dark">
        <a href="/" class="navbar-brand fs-2 text-white h1 mx-2">Review Spot</a>
        <ul class="nav justify-content-end ">
            <li class="nav-item">
                <img th:src="${model.currentClient.clientPhotoUrl}" alt="clientPhoto" width="48" height="48" class="rounded-circle">
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" th:text="${model.currentClient.clientName}" th:href="@{/client/{id}(id=${model.currentClient.clientId})}">Link</a>
            </li>
        </ul>
    </nav>
</header>

<section class="mt-5">
    <div class="container">
        <div class="row">

            <div class="col-2">
                    <a th:href="@{/media/{id}(id=${model.mediaId})}">
                        <div class="ratio ratio-4x3">
                            <img th:src="${model.mediaPhotoUrl}" alt="Image" class="img-fluid object-fit-cover">
                        </div>
                    </a>
            </div>


            <div class="col-8">
                <p class="h1" th:text="${model.mediaName}">Name</p>
                <p class="mb-3">
                    Автор:
                    <a th:href="@{/client/{id}(id=${model.clientId})}" th:text="${model.clientName}"></a>
                </p>

                <p class="mb-3" th:text="'Статус просмотра: ' + ${model.watchStatus}"></p>
            </div>

            <div class="col-2">
                <p class="mb-3" th:text="'Оценка: ' + ${model.rating}"></p>
                <p class="mb-3" th:text="'Лайков: ' + ${model.likeCount}"></p>
                <p class="mb-3" th:text="'Дизлайков: ' + ${model.dislikeCount}"></p>
                <div th:if="${model.isLike}">
                    <form action="/reaction/delete" method="post">
                        <input type="hidden" name="clientId" th:value="${model.currentClient.clientId}">
                        <input type="hidden" name="targetId" th:value="${model.reviewId}">
                        <input type="hidden" name="targetType" value="REVIEW">
                        <input type="hidden" name="like" value="true">
                        <input type="hidden" name="currentUrl" th:value="'/review/' + ${model.reviewId}">
                        <button type="submit" class="btn btn-primary active" aria-pressed="true">Unlike</button>
                    </form>
                </div>
                <div th:if="${not model.isLike}">
                    <form action="/reaction" method="post">
                        <input type="hidden" name="clientId" th:value="${model.currentClient.clientId}">
                        <input type="hidden" name="targetId" th:value="${model.reviewId}">
                        <input type="hidden" name="targetType" value="REVIEW">
                        <input type="hidden" name="like" value="true">
                        <input type="hidden" name="currentUrl" th:value="'/review/' + ${model.reviewId}">
                        <button type="submit" class="btn btn-primary">Like</button>
                    </form>
                </div>
                <div th:if="${model.isDislike}">
                    <form action="/reaction/delete" method="post">
                        <input type="hidden" name="clientId" th:value="${model.currentClient.clientId}">
                        <input type="hidden" name="targetId" th:value="${model.reviewId}">
                        <input type="hidden" name="targetType" value="REVIEW">
                        <input type="hidden" name="like" value="false">
                        <input type="hidden" name="currentUrl" th:value="'/review/' + ${model.reviewId}">
                        <button type="submit" class="btn btn-primary active" aria-pressed="true">Remove Dislike</button>
                    </form>
                </div>
                <div th:if="${not model.isDislike}">
                    <form action="/reaction" method="post">
                        <input type="hidden" name="clientId" th:value="${model.currentClient.clientId}">
                        <input type="hidden" name="targetId" th:value="${model.reviewId}">
                        <input type="hidden" name="targetType" value="REVIEW">
                        <input type="hidden" name="like" value="false">
                        <input type="hidden" name="currentUrl" th:value="'/review/' + ${model.reviewId}">
                        <button type="submit" class="btn btn-primary">Dislike</button>
                    </form>
                </div>
                <form action="/review/delete" method="post" class="ms-auto" th:if="${model.currentClient.clientId == model.clientId}">
                    <input type="hidden" name="reviewId" th:value="${model.reviewId}">
                    <input type="hidden" name="currentUrl" th:value="'/client/' + ${model.clientId}">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
            </div>

        </div>
    </div>

</section>

<section class="mt-5">
    <div class="container">
        <div class="row justify-content-center">
            <h4 class="text-center">Текст отзыва</h4>
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text" th:text="${model.text}">Placeholder text</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="/js/bootstrap.min.js"></script>
</body>
</html>