<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title th:text="${model.currentClient.title}"></title>
</head>
<body class="text-bg-dark">
<header>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a href="/" class="navbar-brand fs-2 text-white">Review Spot</a>
            <div class="d-flex align-items-center ms-auto">
                <div th:if="${model.currentClient.clientId != -1}" class="d-flex align-items-center">
                    <form th:method="post" th:action="@{/auth/logout}">
                        <input class="nav-link text-white me-5" type="submit" value="Logout">
                    </form>
                    <a class="nav-link text-white me-5" sec:authorize="hasRole('ADMIN')" th:href="@{/admin}">Admin Panel</a>
                    <img th:src="${model.currentClient.clientPhotoUrl}" alt="clientPhoto" width="48" height="48" class="rounded-circle me-3">
                    <a class="nav-link text-white me-3" th:text="${model.currentClient.clientName}" th:href="@{/client/{id}(id=${model.currentClient.clientId})}">Link</a>
                </div>
                <div th:if="${model.currentClient.clientId == -1}">
                    <a class="nav-link text-white" th:href="@{/auth/login}">Login</a>
                </div>
            </div>
        </div>
    </nav>
</header>

<section class="mt-5">
    <div class="container">
        <div class="row">

            <div class="col-2">
                    <a th:href="@{/media/{id}(id=${model.mediaId})}">
                        <div class="ratio ratio-4x3">
                            <img th:src="${model.mediaPhotoUrl}" alt="Image" class="img-fluid object-fit-cover">
                        </div>
                    </a>
            </div>


            <div class="col-8">
                <p class="h1" th:text="${model.mediaName}">Name</p>
                <p class="mb-3">
                    Автор:
                    <a th:href="@{/client/{id}(id=${model.clientId})}" th:text="${model.clientName}"></a>
                </p>

                <p class="mb-3" th:text="'Статус просмотра: ' + ${model.watchStatus}"></p>
            </div>

            <div class="col-2">
                <p class="mb-3" th:text="'Оценка: ' + ${model.rating}"></p>
                <p class="mb-3" th:text="'Лайков: ' + ${model.likeCount}"></p>
                <p class="mb-3" th:text="'Дизлайков: ' + ${model.dislikeCount}"></p>
                <div th:if="${model.isLike}">
                    <form th:action="@{/reaction/delete}" method="post">
                        <input type="hidden" name="clientId" th:value="${model.currentClient.clientId}">
                        <input type="hidden" name="targetId" th:value="${model.reviewId}">
                        <input type="hidden" name="targetType" value="REVIEW">
                        <input type="hidden" name="like" value="true">
                        <input type="hidden" name="currentUrl" th:value="'/review/' + ${model.reviewId}">
                        <button type="submit" class="btn btn-primary active" aria-pressed="true">Unlike</button>
                    </form>
                </div>
                <div th:if="${not model.isLike}">
                    <form th:action="@{/reaction}" method="post">
                        <input type="hidden" name="clientId" th:value="${model.currentClient.clientId}">
                        <input type="hidden" name="targetId" th:value="${model.reviewId}">
                        <input type="hidden" name="targetType" value="REVIEW">
                        <input type="hidden" name="like" value="true">
                        <input type="hidden" name="currentUrl" th:value="'/review/' + ${model.reviewId}">
                        <button type="submit" class="btn btn-primary">Like</button>
                    </form>
                </div>
                <div th:if="${model.isDislike}">
                    <form th:action="@{/reaction/delete}" method="post">
                        <input type="hidden" name="clientId" th:value="${model.currentClient.clientId}">
                        <input type="hidden" name="targetId" th:value="${model.reviewId}">
                        <input type="hidden" name="targetType" value="REVIEW">
                        <input type="hidden" name="like" value="false">
                        <input type="hidden" name="currentUrl" th:value="'/review/' + ${model.reviewId}">
                        <button type="submit" class="btn btn-primary active" aria-pressed="true">Remove Dislike</button>
                    </form>
                </div>
                <div th:if="${not model.isDislike}">
                    <form th:action="@{/reaction}" method="post">
                        <input type="hidden" name="clientId" th:value="${model.currentClient.clientId}">
                        <input type="hidden" name="targetId" th:value="${model.reviewId}">
                        <input type="hidden" name="targetType" value="REVIEW">
                        <input type="hidden" name="like" value="false">
                        <input type="hidden" name="currentUrl" th:value="'/review/' + ${model.reviewId}">
                        <button type="submit" class="btn btn-primary">Dislike</button>
                    </form>
                </div>
                <form th:action="@{/review/delete}" method="post" class="ms-auto" th:if="${model.currentClient.clientId == model.clientId}">
                    <input type="hidden" name="reviewId" th:value="${model.reviewId}">
                    <input type="hidden" name="currentUrl" th:value="'/client/' + ${model.clientId}">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
            </div>

        </div>
    </div>

</section>

<section class="mt-5">
    <div class="container">
        <div class="row justify-content-center">
            <h4 class="text-center">Текст отзыва</h4>
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text" th:text="${model.text}">text</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="/js/bootstrap.min.js"></script>
</body>
</html>